@import './../accessbar.component.css';

.accessbar-account {
  background-color: #4CAF50;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 30px;
}

.accessbar-account-name{
  color: whitesmoke;
  font-size: 10px;
}

.accessbar-account:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.app-account-avatar {
  /* background-image: url('https://img00.deviantart.net/d78e/i/2016/023/6/c/rose_girl_by_nika_moon-d9ozlmx.png'); */
  /* background-size: cover; */
}

.app-account-icon {
  color: #CFD8DC;
}
