<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.sm="5px">

  <div style="text-align:center">

    <h2> Queue Anomaly Detection
    </h2>

  </div>

</div>


<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.sm="5px">


  <video controls>


    <source src="../../assets/videos/input.mp4" type="video/mp4">
    Your browser does not support the video tag.

  </video>


  <button class="button button2" (click)="toggleVideo()" type="button">Process
  </button>


    <video *ngIf="process" controls #videoPlayer>
      <source src="../../assets/videos/output.mp4" type="video/mp4"/>
      Browser not supported
    </video>


</div>
