<mat-sidenav-container class="app-sidenav-container">
	<mat-sidenav #sidenav mode="push" class="app-sidenav-sidenav">
		<div class="col-xs-12" style="height:70px;"></div>
		<app-navitem> </app-navitem>
	</mat-sidenav>
	<mat-sidenav-content class="navbar-content">

				<!-- <app-dashboard></app-dashboard>
    <app-dashboard-airport ></app-dashboard-airport> -->


  <nav>
    <!-- <a routerLink="/dashboard" routerLinkActive="active">Crisis Center</a> -->
    <!-- <a routerLink="/dashboard/airport" routerLinkActive="active">Heroes</a> -->
  </nav>
  <router-outlet></router-outlet>

	</mat-sidenav-content>
</mat-sidenav-container>