

<button mat-menu-item class="app-navitem" routerLink="/dashboard">
  <mat-icon color="white">dashboard</mat-icon>
  <span>Dashboard</span>
</button>

<mat-divider></mat-divider> 
<mat-divider></mat-divider> 
<mat-divider></mat-divider> 

<button mat-menu-item class="app-navitem" routerLink="/dashboard/airport">
  <mat-icon color="white">event</mat-icon>
  <span>Queue Management</span>
</button>

<button mat-menu-item class="app-navitem">
  <mat-icon color="white">assessment</mat-icon>
  <span>Analysis</span>
</button>

<button mat-menu-item class="app-navitem">
  <mat-icon color="white">warning</mat-icon>
  <span>Alerts</span>
</button>
<mat-divider></mat-divider> 


<button mat-menu-item class="app-navitem">
  <mat-icon color="white">group</mat-icon>
  <span>Users</span>
</button>


<button mat-menu-item class="app-navitem">
  <mat-icon color="white">file_download</mat-icon>
  <span>Export</span>
</button>


<button mat-menu-item class="app-navitem">
  <mat-icon color="white">change_history</mat-icon>
  <span>Queue Management</span>
</button>


<button mat-menu-item class="app-navitem">
  <mat-icon color="white">accessibility</mat-icon>
  <span>Action</span>
</button>
<mat-divider></mat-divider> 
<mat-divider></mat-divider> 
<mat-divider></mat-divider> 


<button mat-menu-item class="app-navitem">
  <mat-icon color="white">build</mat-icon>
  <span>Settings</span>
</button>



