.dash-status{
  /* background-color:whitesmoke;  */
  padding:10px;
}

.dash-graph{
  /* background-color:whitesmoke;  */
  padding:10px;
  /* display: table; */
}

.dash-bar-chart{
  /* background-color:whitesmoke;  */
  padding:10px;
  /* display: table; */
}